@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
:root {
    --gray: #ccc;
    --darkgray: #1a1a1a;
    --hl-color: #99f;
}


/*---

 GENERAL STYLES
 
--- */

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

html {
    font-size: 16px !important;
    letter-spacing: 0.3px;
}

body {
    background-color: var(--gray);
    color: black;
    font-family: "Readex Pro", sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

p:not(:last-of-type) {
    margin: 1rem 0;
}

a {
    color: #1a1a1a;
    transition: color 0.15s ease-in-out;
}

a:hover,
a:focus {
    color: #666;
    transition: color 0.15s ease-in-out;
}

.lg-only {
    display: block;
}

.mobile-only {
    display: none;
}

@media (max-width: 991px) {
    .lg-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }
}


/* Spinner -- Source: https://codepen.io/supah/pen/BjYLdW */

.spinner {
    animation: rotate 2s linear infinite;
    width: 24px;
    height: 24px;
}

.spinner>.path {
    stroke: white;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}


/*---

 HEADER STYLES

--- */

header {
    display: flex;
    background-color: var(--darkgray);
    color: white;
    padding: 1rem 2rem;
    justify-content: space-between;
}

@media (max-width: 991px) {
    header>.logo {
        flex: 0 0 20%;
        max-width: 20%;
    }
    header>.userbox {
        flex: 0 0 80%;
        max-width: 80%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    header>.logo,
    header>.search {
        flex: 0 0 40%;
        max-width: 40%;
    }
    header>.userbox {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1200px) {
    header>.col {
        flex: 0 0 calc((1/3)*100%);
        max-width: calc((1/3)*100%);
        margin: auto;
    }
}


/* Logo */

.logo img {
    height: auto;
    width: 400px;
}

@media (max-width: 991px) {
    .logo img {
        height: 30px;
        width: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .logo img {
        height: auto;
        width: 100%;
    }
}


/* Search bar */

.search {
    display: flex;
    justify-content: center;
}

.search.mobile {
    display: none;
}

@media (max-width: 991px) {
    .search {
        display: none;
    }
    .search.mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 1.5rem;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
    }
}

.search input,
.search button {
    height: 1.875rem;
    font: inherit;
}

.search input {
    width: 250px;
    padding: 0.25rem;
}

.search button {
    background-color: #ccc;
    padding: 0.25rem 0.5rem;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;
}

.search button:hover,
.search button:focus {
    background-color: var(--hl-color);
    transition: background-color 0.15s ease-in-out;
}

.search.mobile button {
    background-color: #1a1a1a;
    color: white;
    transition: color 0.15s ease-in-out;
}

.search.mobile button:hover,
.search.mobile button:focus {
    color: var(--hl-color);
    transition: color 0.15s ease-in-out;
}


/* User box */

.userbox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#reddit-username {
    color: #ccc;
    text-decoration: none;
    transition: color 0.15s ease-in-out;
}

#reddit-username:hover,
#reddit-username:focus {
    color: #99f;
    transition: color 0.15s ease-in-out;
}

#top-menu {
    display: none;
    width: 24px;
    height: 24px;
    fill: #ccc;
    margin-left: 0.75rem;
    cursor: pointer;
    transition: fill 0.15s ease-in-out;
}

#top-menu:hover,
#top-menu:focus {
    fill: #fff;
    transition: fill 0.15s ease-in-out;
}

@media (max-width: 991px) {
    #top-menu {
        display: block;
    }
}


/*---

 MAIN STYLES

--- */

.reddit {
    display: flex;
}


/* Main section */

.reddit main {
    height: 100%;
    flex: 0 0 calc((2/3)*100%);
    max-width: calc((2/3)*100%);
    padding: 2rem 1rem 2rem 2rem;
}

@media (max-width: 991px) {
    .reddit main {
        flex: 0 0 100%;
        max-width: 100%;
        padding: unset;
    }
}

#subreddit-title {
    font-weight: 700;
    margin-bottom: 1.5rem;
}

@media (max-width: 991px) {
    #subreddit-title {
        padding: 2rem 2rem 0 2rem;
    }
}

.posts {
    background-color: rgba(153, 153, 255, 0.25);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #888;
}

@media (max-width: 991px) {
    .posts {
        padding: unset;
        border-radius: unset;
        box-shadow: unset;
    }
}


/* Post */

.post-container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #888;
    transition: box-shadow 0.15s ease-in-out;
}

@media (max-width: 991px) {
    .post-container {
        border-radius: unset;
        box-shadow: unset;
    }
}

@media (max-width: 991px) {
    .post-container:not(:last-of-type) {
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 992px) {
    .post-container:not(:last-of-type) {
        margin-bottom: 3.125rem;
    }
}

.post-container:hover,
.post-container:focus {
    box-shadow: 5px 5px 15px #888;
    transition: box-shadow 0.15s ease-in-out;
}

.post-votes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    margin-right: 1rem;
}

.vote-button {
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
    cursor: pointer;
}

.vote-button:hover,
.vote-button:focus {
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
}

.votes-count {
    font-weight: 500;
    margin: 0.5rem 0;
}

.post-content-container {
    flex: 1;
    margin-right: 2.5rem;
}

@media (max-width: 991px) {
    .post-content-container {
        margin-right: unset;
    }
}

.post-details-container {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

@media (max-width: 991px) {
    .post-details-container {
        justify-content: space-between;
    }
}

.author-details {
    display: flex;
    align-items: center;
}

.author-img {
    height: 25px;
    width: 25px;
    border-radius: 50px;
    border: 1px solid black;
    margin-right: 0.625rem;
}

@media (max-width: 991px) {
    .author-img {
        display: none;
    }
}

.author-name {
    font-weight: 400;
}

@media (min-width: 992px) {
    .post-time::before {
        content: "\2022";
        margin-right: 0.5rem;
    }
}

.post-time {
    text-align: right;
    margin-left: 0.5rem;
    opacity: 0.75;
}

.post-title {
    font-weight: 500;
    margin-bottom: 1rem;
}

.post-image-container {
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.post-image-container img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 992px) {
    .post-image-container img {
        max-height: 300px;
    }
}

@media (min-width: 1200px) {
    .post-image-container img {
        max-height: 500px;
    }
}

.post-image {
    height: 100%;
}

.post-comments-container {
    margin-top: 1rem;
    padding: 1rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.post-comments-container.showing-comments {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 1rem;
}

.comments-button {
    display: flex;
    opacity: 0.75;
    transition: opacity 0.15s ease-in-out;
    align-items: flex-start;
    cursor: pointer;
}

.comments-button:hover,
.comments-button:focus {
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
}

.comments-button svg {
    margin-right: 0.625rem;
}

.comments-count {
    font-weight: 400;
}

.comment {
    margin-bottom: 1.5rem;
}

.comment-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.comment-time {
    text-align: right;
    opacity: 0.75;
}


/* Sidebar */

.reddit .sidebar {
    flex: 0 0 calc((1/3)*100%);
    max-width: calc((1/3)*100%);
    padding: 2rem 2rem 2rem 1rem;
}

@media (max-width: 991px) {
    .reddit .sidebar {
        position: fixed;
        height: 100%;
        top: 0;
        bottom: 0;
        right: -100%;
        padding: unset;
        overflow-y: scroll;
        z-index: 100;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .reddit .sidebar {
        width: 400px;
        max-width: 400px;
    }
}

@media (max-width: 575px) {
    .reddit .sidebar {
        width: 100%;
        max-width: 100%;
    }
}

.reddit .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.reddit .sidebar-close {
    display: none;
}

@media (max-width: 991px) {
    .reddit .sidebar-close {
        display: block;
    }
}

#sidebar-title {
    font-weight: 700;
}

.reddit .sidebar nav {
    display: flex;
    background-color: rgba(153, 153, 255, 0.25);
    color: black;
    padding: 2rem;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #888;
}

@media (max-width: 991px) {
    .reddit .sidebar nav {
        height: fit-content;
        width: inherit;
        background-color: #ccc;
        border-radius: unset;
        box-shadow: unset;
    }
}

.subreddit-filters {
    display: flex;
    margin: 1.5rem 0;
    padding: 0.75rem 0;
    font-size: 1.25rem;
    list-style-type: none;
    text-transform: uppercase;
    justify-content: space-evenly;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.subreddit-filters li {
    cursor: pointer;
    transition: color 0.15s ease-in-out;
}

.subreddit-filters li:hover {
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.15s ease-in-out;
}

.subreddit-list {
    font-size: 1.5rem;
    margin: unset;
    padding: unset;
    list-style-type: none;
}

.subreddit-icon {
    height: 25px;
    width: 25px;
    border-radius: 50px;
    border: 2px solid black;
    margin-right: 0.625rem;
}

.subreddit-list li button {
    display: flex;
    width: 100%;
    background-color: unset;
    text-align: left;
    align-items: center;
    padding: 0.625rem 0.5rem;
    cursor: pointer;
}

.subreddit-list li button:hover,
.subreddit-list li button:focus {
    background-color: rgba(0, 0, 0, 0.15);
}

.subreddit-selected button {
    background-color: var(--darkgray) !important;
    color: var(--gray) !important;
    border-right: 10px solid white;
}

.credits {
    margin-top: 3.125rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.credits p {
    text-align: center;
    text-transform: uppercase;
}